.slds-popover__body {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    box-sizing: border-box;
    padding: 0 1rem 1rem;
    flex: 1 1 auto;
    height: 100%;
}