.people-border{
    border-bottom: 1px solid #e4e4e4;
}

.card-section {
    max-height:300px;
    overflow: auto;
}

@media screen and (max-width: 768px) {
    .card-section {
        max-height: 300px; /* Adjusted max-height for smaller screens */
    }
}

@media screen and (max-width: 480px) {
    .card-section {
        max-height: 300px; /* Further adjustment for very small screens */
    }
}